@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animateUp{
  animation: moveUp 1s ease forwards, fadeIn 1s ease forwards;
}
.animateDown{
  animation: moveDown 1s ease forwards, fadeIn 1s ease forwards;
}
.animateLeft{
  animation: moveLeft 1s ease forwards, fadeIn 1s ease forwards;
}
.animateRight{
  animation: moveRight 1s ease forwards, fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from{
    opacity: 100%;
  }
  to{
    opacity: 0%
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1000px);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1000px);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1000px);
  }
}